:root {
    /* iris */
    --primary-brand-color: #4D5AE5;
    /* ocean */
    --accent-brand-color: #404BBF;
    /* navy blue */
    --accent-color: #2E2F42;
    /* slate */
    --ordinary-text-color: #434455;
    /* cloud */
    --background-light: #F4F4FD;
    /* white */
    --white-yext-color: #FFFFFF;
    /* cornflower */
    --accent-subtitle: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--accent-color);
}
a {
    text-decoration: none;
    color: inherit;
}
li {list-style: none;}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset end */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
/**
  |============================
  | Header
  |============================
*/

.section-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.flex-header{
    display: flex;
align-items: center;
}
.header-border{
    border-bottom: 1px solid var(--accent-subtitle)
}
.logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    color: var(--primary-brand-color);
    

}
.logo-light {
    color: var(--background-light);
}
.logo-dark {
    color: var(--accent-color);
}

.flex-menu{
    display: flex;
}
.menu{
    margin-right: 40px;
}
.menu:last-child{
margin-right: 0px
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}
.nav:hover,
.nav:focus {
    color: var(--accent-brand-color);}
    
.current {color: var(--primary-brand-color);}
.contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: auto;
        color: var(--ordinary-text-color);
    }
.contacts:hover,
.contacts:focus {
        color: var(--accent-brand-color);
    }
.flex-contacts {
        display: flex;
        font-style: normal;}
        
/**
  |============================
  | Hero section
  |============================
*/
        .section-hero {
          
            text-align: center;
            color: var(--white-yext-color);
            background-color: var(--accent-color);
            padding-top: 188px;
            padding-bottom: 188px;
            
        }
.hero-name{
            width: 496px;        
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 48px;
            margin-left: auto;
            margin-right: auto;   
        }
.btn-order{
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--white-yext-color);
            background-color: var(--primary-brand-color);
            margin-left: auto;
            margin-right: auto;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 32px;
            padding-right: 32px;
            border: none;
            border-radius: 4px;
        }
/**
  |============================
  | Section styles
  |============================
*/
        .section{
            padding-top: 120px; 
            padding-bottom: 120px;
        }
.section-top {padding-top:0;}
.section-portfolio{
    padding-top: 96px;
}
.section-footer
            {padding-top: 100px;
                padding-bottom: 100px;
                background-color: var(--accent-color);
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: var(--accent-subtitle);}
/**
  |============================
  | Section Team
  |============================
*/
                .title {
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 72px;
        }
.subtitle{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }

        
.body-text{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--ordinary-text-color);
        }
        .team-board{
            background-color: var(--background-light);
        }
        .flex-team{
            display: flex;}
            .style-team{
                text-align: center;
                background-color: var(--white-yext-color);
                padding-top: 32px;
                padding-bottom: 32px;
            }
            .style-card{
                margin-bottom: 8px;;
            }
/**
  |============================
  | Section advanteges
  |============================
*/
        .flex-advantage {
                display: flex;
            }
        .list-style{
                margin-right: 24px;
            }
        .list-style:last-child{
                margin-right: 0px;
            }
            /**
              |============================
              | Other
              |============================
            */
            .flex-works{
                display:flex;
            }
             
                .footer-text {
                    margin-top: 16px;     
                }  
                /**
                |============================
                | Portfolio page
                |============================
                */
                .btn-filter{
                             
                    font-family: inherit;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    padding-top: 12px;
                    padding-left: 24px;
                    padding-bottom: 12px;
                    padding-right: 24px;
                             border-radius: 4px;
                             border: 1px solid var(--accent-subtitle);
                             color: var(--primary-brand-color);
                             background-color: var(--background-light);
                             
                            }
                         
                            .btn-filter:hover,
                            .btn-filter:focus {
                             color: var(--white-yext-color);
                             background-color: var(--accent-brand-color);
                             cursor: pointer;
                             border: 1px solid var(--accent-brand-color);
                            }
                            .flex-filter-btn {
                                display: flex;
                                gap: 24px;
                                justify-content: center;
                                padding-bottom: 72px;
                            }
                            
                            .flex-filter-cards {
                                display: flex;
                                flex-wrap: wrap;
                            }
                            
                            .filter-cards{
                                padding-left: 16px;
                                padding-top: 32px;
                                padding-bottom: 32px;
                                border-bottom: 1px solid var(--accent-subtitle);
                                border-left: 1px solid var(--accent-subtitle);
                                border-right: 1px solid var(--accent-subtitle);
                                background-color: var(--white-yext-color);
                            }
                            .cards{
                                width: calc((100% - 2*24px) / 3);
                                margin-right: 24px;
                                margin-bottom: 48px;
                                
                            }
                            .cards:nth-child(3n){
                                margin-right: 0;
                            }
                            .cards:nth-last-child(-n+3) {
                                margin-bottom: 0;}
                                
                                .cards-image { 
                                    display: block;
                                    max-width: 100%; 
                                    height: auto;}
                                    .text-card {
                                        margin-top: 8px;
                                    }